--extra-index-url https://download.pytorch.org/whl/cu118
torch
python-dotenv
jupyter
accelerate>=0.26.0
transformers
sentencepiece
pandas
matplotlib
seaborn
pytorch-lightning
scikit-learn
torchmetrics
tqdm
